* { box-sizing: border-box; }

body {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

header h1 {
  color: #FF0000;
  font-weight: 300;
}

header h1 small {
  color: #C7C7C7;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header nav a {
  background-color: #000000;
  color: #FFFFFF;
  flex: 1;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

header nav a + a {
  border-left: 1px solid #FFFFFF;
}

p {
  font-family: 'Times New Roman', serif;
}
